body {
    margin-left: 20px;
    background: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80');
    background-size: cover;
    color: rgb(75, 75, 75);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

h1 {
    color: black;
}

p {
    margin: 5px 5px;
}


/* page contains cards with header and content sections */
div.card {
    margin-top: 0px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 800px;
    border-top: 1px solid rgb(170, 170, 170);
    border-right: 1px solid rgb(170, 170, 170);
    border-left: 1px solid black;
    border-bottom: 2px solid black;
}

div.headerBtn {
    display: block;
    max-width: 800px;
    /*   margin-top: 10px; */
    margin-right: 1px;
    margin-bottom: -1px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    text-align: center;
    padding: 5px 0;
}

div.headerBtn:hover {
    cursor: row-resize;
}

div.content {
    background-color: rgba(226, 227, 222, .99);

    /*   position: relative;
    right: 10px; */
    padding: 10px 15px;
}

div.collapsed {
    display: none;
}

#buttonBar {
    margin: 0 auto;


}

button.gameBtn {
    /*   border: none; */
    font-weight: 400;
    border-radius: 5%;
    padding: 5px;
    margin-right: 10px;
    margin-top: 5px;
    width: 25%;
    max-width: 100px;
    background-color: rgba(71, 71, 71, .99);
    color: white;
}

button.gameBtn:hover {
    border-left: 3px solid rgb(75, 75, 75);
    border-bottom: 4px solid rgb(75, 75, 75);
    margin-bottom: -3px;
    cursor: pointer;
}

#btn4 {
    display: inline;
    /*   position: absolute;
    right: 100px; */
    background-color: red;
    color: white;
    margin-left: 5px;
    padding: 2px 3px;
    /*   width: 15%; */
}


#gameOutcome {
    /*   border: 1px solid black; */
    min-height: 100px;
    max-width: 900px;
    margin-top: 20px;
    /*   padding: 10px; */
}

//scoreboard is created and added dynamically once play starts and placed in the gameOutcome div
div.scoreboard {
    min-height: 30px;
    /*   border:1px solid black; */
}

//individual scores are posted dynmically inside the scoreboard
article {
    margin: 10px;
}