/* primary dark gray rgb(75, 75, 75) */

body {
    margin: 10px auto;
    /* background: url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80'); */
    background-size: cover;
    color: rgb(75, 75, 75);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

h1 {
    color: rgb(75, 75, 75);
    margin: 5px auto;
    text-align: center;
}

p {
    margin: 5px 5px;
}

main {
    background-color: white;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}


/* page contains cards with header and content sections */
div.card {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

div.headerBtn {
    display: block;
    margin-right: 1px;
    margin-bottom: -1px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(75, 75, 75);
    color:white;
    text-align: left;
    padding: 10px 0 10px 0px;
}

div.headerBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

div.content {
    padding: 10px 15px;
}

div.collapsed {
    display: none;
}



.buttonBar {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;


}

button.gameBtn {
    border: none;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 29%;
    max-width: 100px;
    background-color: rgba(71, 71, 71, .99);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

button.gameBtn:hover {
    border-left: 3px solid rgb(75, 75, 75);
    border-bottom: 4px solid rgb(75, 75, 75);
    margin-bottom: -3px;
    cursor: pointer;
}

#btn4 {
    display: inline;
    background-color: red;
    color: white;
    margin-left: 5px;
    padding: 2px 3px;
}


#gameOutcome {
    /*   border: 1px solid black; */
    min-height: 100px;
    max-width: 900px;
    margin-top: 20px;
    /*   padding: 10px; */
}

/* scoreboard is created and added dynamically once play starts and placed in the gameOutcome */
div.scoreboard {
    min-height: 30px;
    /*   border:1px solid black; */
}

/* individual scores are posted dynmically inside the scoreboard */
article {
    margin: 10px;
}

img.cardIndicator {
    width: 20px;
    /* transform: rotate(-90deg); */
    padding: 0px 10px;
    color: white;
}

img.collapsed {
    transform: rotate(180deg);
}


#achievements > ul > li.unlocked {
    color: green;
}

/* desktop styling: more margin between cards wider cards */

@media only screen and (min-width: 600px) {
    main {
        max-width: 800px;

    }

    h1 {
        margin: 20px;
    }

    div.card {
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 30px;
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .buttonBar {
        margin: 20px auto;


    }

    button.gameBtn {
        font-size: 24px;
        font-weight: 400;
        width: 29%;
        max-width: 200px;
        
    }

    #btn4 {
        margin-left: 5px;
        padding: 10px;
    }
}
